<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <if condition=' isNull("server_log_home") '>
        <then>
            <!-- 控制台输出日志 -->
            <appender name="TARGET" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <root level="INFO">
                <appender-ref ref="TARGET"/>
            </root>
        </then>
        <else>
            <appender name="TARGET" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${server_log_home}/${server_name}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${server_log_home}/logbak/${server_name}.log_%d{yyyy-MM-dd}.zip</FileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
                <layout>
                    <pattern>%d{MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                </layout>
                <applicationId>${server_name}.${server_ip}</applicationId>
                <exchangeName>server_logs</exchangeName>
                <addresses>192.168.100.30:5672,192.168.100.31:5672</addresses>
                <username>guest</username>
                <password>guest</password>
                <routingKeyPattern>%property{applicationId}</routingKeyPattern>
                <declareExchange>true</declareExchange>
                <charset>UTF-8</charset>
                <durable>false</durable>
                <deliveryMode>NON_PERSISTENT</deliveryMode>
            </appender>
            <root level="INFO">
                <appender-ref ref="TARGET"/>
                <appender-ref ref="AMQP" />
            </root>
        </else>
    </if>

</configuration>