<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="ztk-arena-dubbo-server" />
    <dubbo:registry protocol="zookeeper" address="${zookeeper.address}" client="curator"/>

    <!--使用multicast广播注册中心暴露服务地址 -->
    <dubbo:protocol name="dubbo" port="-1" serialization="kryo"/>

    <dubbo:reference id="practiceDubboService"  interface="com.huatu.ztk.paper.api.PracticeDubboService"/>
    <dubbo:reference id="practiceCardDubboService"  interface="com.huatu.ztk.paper.api.PracticeCardDubboService"/>
    <dubbo:reference id="userDubboService" timeout="3000"  interface="com.huatu.ztk.user.dubbo.UserDubboService"/>
</beans>