<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!-- 连接服务配置  -->
    <rabbit:connection-factory id="connectionFactory"
                               addresses="${rabbitmq.address}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"/>
    <rabbit:admin connection-factory="connectionFactory"/>


    <rabbit:queue id="submit_practice_arena" name="submit_practice_arena" durable="true" auto-declare="true" auto-delete="false"/>
    <!-- exchange queue binging key 绑定 -->
    <rabbit:fanout-exchange id="submit_practice_exchange" name="submit_practice_exchange" auto-declare="true" durable="true" auto-delete="false" >
        <rabbit:bindings>
            <rabbit:binding queue="submit_practice_arena"/>
        </rabbit:bindings>
    </rabbit:fanout-exchange>


    <bean id="practiceMessageListener" class="com.huatu.ztk.arena.task.PracticeMessageListener"></bean>
    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener queue-names="submit_practice_arena" ref="practiceMessageListener"/>
    </rabbit:listener-container>
</beans>